:root {
    --color-u: #4477AA;
    --color-g: #66CCEE;
    --color-r: #228833;
    --color-i: #CCBB44;
    --color-z: #EE6677;
    --color-y: #AA3377;
    --color-ph: #222222;
    --color-emp: #BBBBBB;
}

.choices__list--dropdown .choices__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust minmax to fit your design */
    gap: 5px; /* Space between lozenges */
}

.choices__list--dropdown .choices__item--choice {
    display: inline-block;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.choices__inner {
    width: 250px; /* Or set to a specific width, e.g., 250px */
    padding: 5px; /* Optional: Add padding for a better appearance */
}

/* Specific styles for each filter in the dropdown */
.choices__list--dropdown .choices__item--choice[data-value="u"] {
    background-color: var(--color-u);
}

.choices__list--dropdown .choices__item--choice[data-value="g"] {
    background-color: var(--color-g);
}

.choices__list--dropdown .choices__item--choice[data-value="r"] {
    background-color: var(--color-r)
}

.choices__list--dropdown .choices__item--choice[data-value="i"] {
    background-color: var(--color-i);
}

.choices__list--dropdown .choices__item--choice[data-value="z"] {
    background-color: var(--color-z);
}

.choices__list--dropdown .choices__item--choice[data-value="y"] {
    background-color: var(--color-y);
}

.choices__list--dropdown .choices__item--choice[data-value="ph"] {
    background-color: var(--color-ph);
}

.choices__list--dropdown .choices__item--choice[data-value="emp"] {
    background-color: var(--color-emp);
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="u"] {
    background-color: var(--color-u);
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="g"] {
    background-color: var(--color-g) !important;
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="r"] {
    background-color: var(--color-r) !important;
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="i"] {
    background-color: var(--color-i) !important;
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="z"] {
    background-color: var(--color-z) !important;
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="y"] {
    background-color: var(--color-y) !important;
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="ph"] {
    background-color: var(--color-ph) !important;
}

.choices__list--dropdown .choices__item--choice.is-highlighted[data-value="emp"] {
    background-color: var(--color-emp) !important;
}

.choices__list--dropdown .choices__item--choice.is-highlighted {
    border: 4px solid black !important; /* Keep the border color visible */
}

/* Base styles for the selected lozenges */
.choices__item--selectable {
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 14px;
    color: white;
}

/* Specific styles for each selected lozenge */
.choices__item[data-value="u"] {
    background-color: var(--color-u);
}

.choices__item[data-value="g"] {
    background-color: var(--color-g);
}

.choices__item[data-value="r"] {
    background-color: var(--color-r);
}

.choices__item[data-value="i"] {
    background-color: var(--color-i);
}

.choices__item[data-value="z"] {
    background-color: var(--color-z);
}

.choices__item[data-value="y"] {
    background-color: var(--color-y);
}

.choices__item[data-value="ph"] {
    background-color: var(--color-ph);
}

.choices__item[data-value="emp"] {
    background-color: var(--color-emp);
}

/* Hide the 'Press to select' text */
.choices__list--dropdown .choices__item--choice.is-highlighted::after {
    content: none; /* Remove any content added via CSS */
    display: none; /* Ensure the pseudo-element is hidden */
}

/* Alternatively, if it's within a span or similar element */
.choices__list--dropdown .choices__item--choice.is-highlighted [data-select-text] {
    display: none; /* Hide the element */
}

/* Custom styling for other elements */
.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    pointer-events: none;
    display: none;
}

#container {
    display: flex;
    flex-direction: row; /* Align the calendar+buttons and form side by side */
    width: 1600px;
    /* border: 1px solid #ccc; */
}

#leftPanel {
    display: flex;
    flex-direction: column; /* Stack the calendar and buttons vertically */
    align-items: flex-start;
    padding-left: 10px;
    width: 1200px;
    /* border: 1px solid #F00; */
}

#rightPanel {
    display: flex;
    flex-direction: column; /* Stack the calendar and buttons vertically */
    align-items: flex-start;
    padding-left: 10px;
    width: 255px;
    /* border: 1px solid #F00; */
}

#dateRangeContainer {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    /* display: none; */
    align-self: flex-start;
}

#editDateRangeInput {
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 30px;
}

#editFormContainer {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: none;
    align-self: flex-start;
}

#summaryFormContainer {
    display: none;
}

.hidden {
    display: none;
}

#buttons {
    margin-top: 10px;
}

.lasso {
    stroke: black;
    stroke-dasharray: 4;
    fill: none;
}

.textarea {
    width: 100%;
    height: 100px;
    resize: none; /* Prevent users from resizing the textarea */
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
}

.time-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Style the time input fields */
.time-container input {
    flex: 1;
}

/* Style the buttons */
.time-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.time-buttons button {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 1px 0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.lozengesSVG {
    width: 100%;
    height: 100%;
}